.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  cursor: pointer;
  border: 1px solid #b1b1b1;
  border-radius: 6px;
  height: 100%;
  width: 30%;
}
img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.right-section {
  width: 70%;
  margin-left: 4px;
}
