.add-btn-wrap {
  position: fixed;
  right: 30px;
  bottom: 50px;
}
.add-btn {
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;

  width: 50px;
  height: 50px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.add-btn:hover {
  background-color: rgb(54, 52, 52);
}
